header{
    background-color: rgb(255, 223, 228);
    display: flex;
    justify-content: space-between;
    padding: 0px 13vw;
    align-items: center;
    height: 60px;
}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 50px;
}
header ul li a{
    font-weight: bold;
    padding-left: 17px;
    font-size: 15px;
    text-decoration: none;
    color: hotpink;

}

.logoheader{
    width: 90px;
    height: 38px;
}